.swiper-container {
  position: absolute;
  top: 55px;
  left: 0;
  /* width: 395px; */
  width: 100%;
  /* height: 95px; */
  /* background-color: blue; */
}

.swiper-slide {
  background-color: #fff;
}
